/* Container for the calendar */
.calendar-wrapper {
  max-width: 100%;
  overflow-x: auto; /* Add horizontal scrollbar */
}

.calendar-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  padding: 0.3rem;
}

/* Days of the Week */
.days-of-week {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px; /* Align with the calendar */
  font-size: 12px;
  color: #333;
}

/* GitHub Calendar Styles */
.react-github-calendar {
  display: flex;
  gap: 5px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
}

.react-github-calendar > svg {
  width: 100%;
  height: auto;
}

.react-github-calendar rect {
  rx: 3px; /* Rounded corners */
  ry: 3px; /* Rounded corners */
}

.react-github-calendar text {
  fill: #333; /* Darker text color */
  font-size: 12px; /* Smaller font size */
}

/* Recent Contributions */
.recent-contributions {
  margin-top: 20px;
}

.recent-contributions h3 {
  font-size: 16px;
  color: #333;
}

.recent-contributions ul {
  list-style-type: none;
  padding: 0;
}

.recent-contributions li {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.recent-contributions strong {
  color: #0e4429; /* Dark green for dates */
}
