.git {
  gap: 1rem;
}
.gitcalendar__container {
  display: flex;
  justify-content: center;
}
.gitcalendar__wrapper {
  width: 100%;
  max-width: 630px;
}

.gitcalendar__header {
  display: flex;
  justify-content: space-between;
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.react-activity-calendar__legend-month,
.react-activity-calendar__legend-weekday > text {
  font-size: var(--smaller-font-size);
}

.react-activity-calendar__footer {
  display: flex;
  justify-content: space-between;
  margin-left: 0px !important;
}

.react-activity-calendar__legend-colors {
  margin-left: 0px !important;
}

.react-activity-calendar__scroll-container {
  padding-bottom: 0.75rem;
}

.contributions__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contributions__header > h3 {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.contributions__header > span {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contributions__container {
  margin-top: 0.5rem;
  gap: 0.25rem;
}

.contributions__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: var(--smaller-font-size);
}
.contributions__wrapper > p {
  font-size: var(--tiny-font-size);
  color: var(--desc-color);
}

.contributions__top {
  gap: 0.1rem;
}

.recent {
  font-size: var(--tiny-font-size);
  color: var(--desc-color);
}

@media screen and (max-width: 1024px) {
  .gitcalendar__wrapper {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .gitcalendar__wrapper {
    max-width: 655px;
  }
}
@media screen and (max-width: 425px) {
  .gitcalendar__wrapper {
    max-width: 375px;
  }
}
@media screen and (max-width: 375px) {
  .gitcalendar__wrapper {
    max-width: 330px;
  }
}
