.techstack__container {
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 2rem;
  align-items: center; /* Vertically center items */
}
.techstack__container > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-cloud {
  width: 100%; /* Make it responsive */
  max-width: 100%;
  height: auto; /* Allow height to adjust based on width */
  display: flex;
  justify-content: center; /* Center the cloud */
  align-items: center;
  position: relative;
  overflow: hidden;
}
.round-cloud {
  width: 100%; /* Make it responsive */
  height: auto; /* Allow height to adjust based on width */
  max-width: 100%; /* Ensure it doesn't exceed its container */
}

/* Techstack Data Styling */
.techstack__data {
  gap: 1rem;
}

.techstack__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Toolstack Container */
.toolstack__container {
  gap: 0.5rem; /* Space between tools */
}

/* Tools Container */
.tools__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 0.5rem;
  margin-bottom: var(--mb-0-25);
}
.tools__title {
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}
.tools__data {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.tools__data > p {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
  background-color: var(--title-color-dark);
  border: solid 1px gray;
  color: var(--text-color);
  font-size: var(--tiny-font-size);
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
}

@media screen and (max-width: 425px) {
  .techstack__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
  }
  .round-cloud {
    width: 100%; /* Make it responsive */
    height: auto; /* Allow height to adjust based on width */
    max-width: 80%; /* Ensure it doesn't exceed its container */
  }
}
