.dock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  background: transparent;

  border: 2px solid var(--container-color); /* ← your border color here */
  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--body-color);
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  max-width: 90%;
}
.dock-separator {
  color: var(--container-color);
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.25);
}

/* Dock items */
.dock-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dock-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: var(--title-color);

  transition: transform 0.2s;
}

.dock-item a:hover {
  transform: scale(1.2);
}

.dock-tooltip {
  position: absolute;
  top: -1.5rem;
  font-size: 0.75rem;
  background: black;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.dock-item:hover .dock-tooltip {
  opacity: 1;
}

.dock-separator {
  width: 1px;
  height: 32px;
  background: #ccc;
}
